---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 class="text-red-400 text-3xl font-bold text-center pt-20">Astro</h1>
		<div class="flex flex-wrap md:flex-row text-center place-content-center items-center content-center p-10">
			<div class="p-20">
				<div class="bg-slate-400 w-20 h-20 rounded-full">01</div>
			</div>
			<div class="p-60 md:p-40">
				<div class="w-40 h-40 bg-slate-400 rounded-md">02</div>
			</div>
			<div class="p-20">
				<div class="bg-slate-400 w-20 h-20 rounded-full">03</div>
			</div>
		</div>
	</body>
</html>
