---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 class="text-red-400 text-3xl font-bold text-center pt-20">Astro</h1>
		<div class="flex flex-row text-center place-content-center items-center pt-10">
			<div class="basis-1/4 ml-10">01</div>
			<div class="basis-auto w-40 h-40 bg-slate-400 content-center rounded-full p-10">02</div>
			<div class="basis-1/4 mr-10">03</div>
		  </div>
	</body>
</html>
