---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bubbles + Tailwind CSS using Flexbox</title>
	</head>
	<body>
		<h1 class="text-red-400 text-xl md:text-3xl font-bold text-center pt-20 underline decoration-4">Astro + Tailwind CSS using Flexbox</h1>
		<div class="flex flex-col md:flex-row text-center place-content-center items-center p-10">
			<div class="flex flex-row md:flex-col p-5 md:p-20">
				<div class=" text-gray-50 hover:text-red-500 bg-slate-400 border-2 border-gray-900 hover:bg-slate-100 hover:border-2 hover:border-dashed hover:border-red-500 w-20 h-20 rounded-full m-5 transition duration-300 ease-in-out">
					<div class="p-5">
						01a
					</div>
				</div>
				<div class=" text-gray-50 hover:text-red-500 bg-slate-400 border-2 border-gray-900 hover:bg-slate-100 hover:border-2 hover:border-dashed hover:border-red-500 w-20 h-20 rounded-full m-5 transition duration-300 ease-in-out">
					<div class="p-5">
						01b
					</div>
				</div>
				<div class="text-gray-50 hover:text-red-500 bg-slate-400 border-2 border-gray-900 hover:bg-slate-100 hover:border-2 hover:border-dashed hover:border-red-500 w-20 h-20 rounded-full m-5 transition duration-300 ease-in-out">
					<div class="p-5">
						01c
					</div>
				</div>
			</div>
			<div class="p-5 md:p-20">
				<div class="w-64 h-64 md:w-96 md:h-96 text-gray-50 bg-slate-400 rounded-full md:rounded-full shadow-lg hover:shadow-md transition duration-300 hover:bg-blue-200">
					<div class="pt-16 md:pt-24">
						02
					</div>
				</div>
			</div>
			<div class="flex flex-row md:flex-col p-5 md:p-20">
				<div class=" text-gray-50 hover:text-red-500 bg-slate-400 border-2 border-gray-900 hover:bg-slate-100 hover:border-2 hover:border-dashed hover:border-red-500 w-20 h-20 rounded-full m-5 transition duration-300 ease-in-out">
					<div class="pt-5">
						03a
					</div>
				</div>
				<div class=" text-gray-50 hover:text-red-500 bg-slate-400 border-2 border-gray-900 hover:bg-slate-100 hover:border-2 hover:border-dashed hover:border-red-500 w-20 h-20 rounded-full m-5 transition duration-300 ease-in-out">					
					<div class="pt-5">
						03b
					</div>
			</div>
				<div class="text-gray-50 hover:text-red-500 bg-slate-400 border-2 border-gray-900 hover:bg-slate-100 hover:border-2 hover:border-dashed hover:border-red-500 w-20 h-20 rounded-full m-5 transition duration-300 ease-in-out">
					<div class="pt-5">
						03c
					</div>
			</div>
		</div>
	</body>
</html>
